<!DOCTYPE html>
<html ng-app="ParticleWebClient">
<head>
    <meta charset="utf8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Particle Web Client</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/bootstrap-slider/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="lib/jquery-minicolors/jquery.minicolors.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavibarCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="visible-xs">
                <div loader class="navbar-toggle spinner-xs-box">
                    <i class="fa fa-spinner fa-pulse fa-fw"></i>
                </div>
            </div>
            <a class="navbar-brand" href="#">Particle Web Client</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="isActive('/devices')">
                    <a href="#/devices"><span class="glyphicon glyphicon-list"></span> Devices</a>
                </li>
                <li ng-class="isActive('/events')">
                    <a href="#/events"><span class="glyphicon glyphicon-flash"></span> Events</a>
                </li>
                <!-- Include a menu entry for each plugin -->
                <li ng-repeat="plugin in plugins" ng-class="isActive('/' + plugin)">
                    <a href="#/{{plugin}}" ng-include="'plugins/' + plugin + '/menu.tpl.html'"></a>
                </li>
                <li ng-class="isActive('/login')" ng-show="!loginService.loggedIn">
                    <a href="#/login"><span class=" glyphicon glyphicon-log-in"></span> Sign-in</a>
                </li>
                <li ng-show="loginService.loggedIn">
                    <a ng-click="logout()" href="#"><span class=" glyphicon glyphicon-log-out"></span> Sign-off</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.a-hanak.de">&copy; André Hanak</a></li>
            </ul>

            <p class="nav navbar-text hidden-xs navbar-right spinner-box">
                <i loader class="fa fa-spinner fa-pulse fa-fw"></i>
            </p>
        </div><!--/.nav-collapse -->


    </div>
</nav>

<div class="container">
    <div ng-controller="ErrorCtrl">
        <div ng-show="message" class="alert alert-danger">
            <button ng-click="clear()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error:</strong> {{message}}
        </div>
    </div>

    <div ng-view></div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="lib/jquery/jquery-2.2.4.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>

<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular/angular-route.min.js"></script>
<script src="lib/angular/ngStorage.min.js"></script>
<script src="lib/bootstrap-slider/bootstrap-slider.min.js"></script>
<script src="lib/bootstrap-slider/slider.js"></script>
<script src="lib/jquery-minicolors/jquery.minicolors.js"></script>
<script src="lib/angular-minicolors/angular-minicolors.js"></script>
<script src="lib/spark/spark.min.js"></script>

<script src="js/boot.js"></script>

<!-- Enabled apps and plugins are included here -->
<script src="apps/tinker/main.js"></script>
<script src="apps/particle-pixel-controller/main.js"></script>
<script src="apps/particle-pwm-controller/main.js"></script>

<script src="js/app.js"></script>
</body>
</html>