
<div ng-controller="DevicesCtrl">
    <p class="pull-right">
        <button class="btn btn-primary" ng-click="list()">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reload
        </button>
        <button class="btn btn-warning" ng-click="clear()">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear
        </button>
    </p>
    <h1>Devices</h1>
    <!--<pre>{{devices | json}}</pre>-->

    <div class="row">

        <!-- device -->
        <div ng-repeat="device in devices">
            <div class="col-md-6 col-xs-12 device">
                <device-panel device="device">
                    <ng-include src="selectTemplate(device)"></ng-include>
                </device-panel>
            </div> <!-- grid / device -->
        </div> <!-- ng-repeat devices -->
    </div> <!-- row -->
    <!--<pre>error = {{ error | json }}</pre>-->
</div>