
<div ng-controller="DevicesCtrl">
    <!--<p class="text-right">
        <button class="btn btn-primary" ng-click="list()">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reload
        </button>
        <button class="btn btn-warning" ng-click="clear()">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear
        </button>
    </p>-->
    <!--<pre>{{devices | json}}</pre>-->
    <br /><br />

    <div class="device">
        <device-panel device="selectedDevice" ng-init="device = selectedDevice">
            <ng-include src="selectTemplate(selectedDevice)"></ng-include>
        </device-panel>
    </div>
    <!--<pre>error = {{ error | json }}</pre>-->
</div>